@charset "utf-8";
@import "default.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  font-family: "Noto Sans KR", "맑은 고딕", sans-serif;
  font-size: 14px;
  color: #333;
  overflow-x:hidden;
}

#top_line {
  height: 5px;
  background-color: #093;
}

#main_header {
  height: 159px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  max-width: 1900px;
  position: relative;
  z-index: 99999;
}

#main_header>.header_top {
  height: 89px;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#main_header>.header_top>h1 {
  width: 161px;
  height: 33px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#main_header>.header_top>h1>a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background: url("../images/logo_app.png") no-repeat;
}

#main_header>.header_top>#toggle {
  display: none;
}

#main_header>.header_top>.tnb>ul {
  display: flex;
  gap: 16px;
  align-items: center;
}

#main_header>.header_top>.tnb>ul>li>a {
  color: #454545;
}

#main_header>.header_top>.tnb>ul>li:last-child>a {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  background: url("../images/icon_utill_global.png") no-repeat center center;
}

#main_header>.header_top>.tnb>ul>li>.lang_list {
  display: none;
}

#main_header>.navbar {
  width: 990px;
  margin: 0 auto;
  height: 70px;
  position: relative;
  z-index: 100;
}

#main_header>.navbar>ul {
  display: flex;
}

#main_header>.navbar>ul>li {
  padding: 20px 0;
  width: 165px;
  position: relative;
}

#main_header>.navbar>ul>li>a {
  display: block;
  height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  text-align: center;
  line-height: 30px;
}

#main_header>.navbar>ul>li>.sub {
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0;
  text-align: center;
  /* height:192px;  padding-top:20px; */
  height: 212px;
  padding-top: 24px;
  box-sizing: border-box;
  display: none;
}

#main_header>.navbar>ul>li>.sub>ul>li {
  margin-bottom: 12px;
}

#main_header>.navbar>ul>li>.sub>ul>li:last-child {
  margin-bottom: 0px;
}

#main_header>.navbar>ul>li>.sub>ul>li>a {
  color: #454545;
}

#main_header>.sub_bg {
  position: absolute;
  width: 100%;
  height: 212px;
  left: 0;
  top: 160px;
  background-color: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  display: none;
}

#main_header>.navbar:hover>ul>li>.sub {
  display: block;
}

#main_header>.navbar:hover+.sub_bg {
  display: block;
}

/* -------------- header style end ------------ */
.main_visual {
  position: relative;
}

.main_visual>.slide_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main_visual>.slide_container>.slides {
  display: flex;
  width: 300%;
  /* width:100%*div수 */
}

.main_visual>.slide_container>.slides>div {
  width: 100%;
  height: 442px;
  flex: 1 1 0;
  /* flex:1 1 0*/
}

.main_visual>.slide_container>.slides>div>a>img {
  width: 100%;
  height: 442px;
  object-fit: cover;
  /* object-position: center; */
}

.main_visual>.slide_container>button {
  position: absolute;
  width: 30px;
  height: 120px;
  top: 50%;
  margin-top: -60px;
  cursor: pointer;
  /* background:transparent url("../images/left.png") no-repeat */
}

.main_visual>.slide_container>.prev {
  right: 50%;
  transform: translateX(-590px);
}

.main_visual>.slide_container>.next {
  left: 50%;
  transform: translateX(590px);
}

.main_visual>.slide_container>.pagenate {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-560px);
}

.main_visual>.slide_container>.pagenate>li>a {
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  text-indent: -9999px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7) inset;
}

.main_visual>.slide_container>.pagenate>li>a.on {
  background: #f60;
}

.main_visual>.direct_btns {
  width: 600px;
  height: 80px;
  border-radius: 30px 0;
  overflow: hidden;
  position: absolute;
  bottom: -47px;
  right: calc(50% - 590px);
  display: flex;
}

.main_visual>.direct_btns>a {
  display: block;
  width: 300px;
  height: 80px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: #fff;
  background-color: #009223;
  /* color:#222; background-color:#ffce33;*/
}

.main_visual>.direct_btns>a.btn1 {
  color: #222;
  background-color: #ffce33;
}

.main_visual>.direct_btns>a::before {
  content: "";
  display: block;
  width: 34px;
  height: 30px;
  background: url("../images/icon_franchise.png") no-repeat;
}

.main_visual>.direct_btns>a.btn1::before {
  width: 24px;
  background-image: url("../images/icon_map.png");
}

/* ---------- main visual end ------------- */
.product_menu {
  max-width: 1180px;
  margin: 140px auto 96px;
}

.product_menu>.content_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.product_menu>.content_header>h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  position: relative;
  margin-left: 42px;
}

.product_menu>.content_header>h2::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background-color: #ffce32;
  border-radius: 40px 40px 0 40px;
  position: absolute;
  left: -42px;
  top: -26px;
  z-index: -1;
}

.product_menu>.content_header>ul {
  display: flex;
  font-size: 14px;
  gap: 16px;
}

.product_menu>.content_header>ul>li:not(:last-child) {
  background: url("../images/lang_line.gif") no-repeat right center;
  padding-right: 17px;
}

.product_menu>.content_header>ul>li>a {
  color: #454545;
  font-weight: 500;
}

.product_menu>.content_header>ul>li>a.on {
  color: #009223;
}

.product_menu>.content_body>ul {
  display: flex;
}

.product_menu>.content_body>ul>li {
  /*width:295px;*/
  flex: 1 1 0;
  height: 360px;
}

.product_menu>.content_body>ul>li>a {
  color: #454545;
  display: block;
  height: 360px;
}

.product_menu>.content_body>ul>li>a>figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 360px;
}

.product_menu>.content_body>ul>li>a>figure>img:first-of-type {
  width: 100%;
  height: auto;
}

.product_menu>.content_body>ul>li>a>figure>.more {
  margin-top: -60px;
  display: none;
}

.product_menu>.content_body>ul>li>a>figure>figcaption {
  height: 122px;
  text-align: center;
  flex-shrink: 0;
}

.product_menu>.content_body>ul>li>a>figure>figcaption>h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #454545;
}

.product_menu>.content_body>ul>li>a>figure>figcaption>p {
  line-height: 1.6;
  letter-spacing: -0.5px;
  color: #5d5d5d;
}

.info_wrap {
  padding: 70px 0 90px;
  background: url("../images/bg_content.gif");
}

.info_wrap>.innerbox {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  /*flex-wrap:wrap;*/
  gap: 40px;
}

.info_wrap>.innerbox>.usebox {
  width: 370px;
  height: 300px;
  background-color: #09c;
  border-radius: 36px 0 36px 36px;
  padding: 48px 34px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_wrap>.innerbox>.usebox>h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 38px;
}

.info_wrap>.innerbox>.usebox>a {
  display: block;
  width: 96px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.info_wrap>.innerbox>.usebox>span {
  position: absolute;
  right: -20px;
  bottom: 26px;
  width: 209px;
  height: 158px;
  background: url("../images/utilization.png") no-repeat;
}

.info_wrap>.innerbox>.historybox {
  width: 770px;
  height: 300px;
  background: #ff8201 url("../images/history_bg.jpg") no-repeat;
  padding: 48px 34px 48px 380px;
  box-sizing: border-box;
  border-radius: 36px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_wrap>.innerbox>.historybox>h2 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  line-height: 38px;
  letter-spacing: -1px;
}

.info_wrap>.innerbox>.historybox>a {
  display: flex;
  width: 140px;
  height: 40px;
  border: 2px solid #fff;
  box-sizing: border-box;
  color: #fff;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.info_wrap>.innerbox>.historybox>.imgbox {
  position: absolute;
  width: 118px;
  height: 118px;
  right: -30px;
  bottom: 14px;
  background: url("../images/history_deco.png") no-repeat;
}

.info_wrap>.innerbox>.newsbox {
  width: 870px;
  height: 300px;
  background-color: #fff;
  border-radius: 36px 0;
  padding: 60px 56px 44px;
  box-sizing: border-box;
  display: flex;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.info_wrap>.innerbox>.newsbox>.content_header {
  height: 100%;
}

.info_wrap>.innerbox>.newsbox>.content_header>h2 {
  margin: 34px 0 56px 28px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1em;
  position: relative;
  z-index: 10;
}

.info_wrap>.innerbox>.newsbox>.content_header>h2::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 36px 36px 0 36px;
  background-color: #ffce32;
  position: absolute;
  left: -28px;
  top: -34px;
  z-index: -1;
}

/* .info_wrap>.innerbox>.newsbox>.content_header>h2>span{ position:relative;  z-index:10} */
.info_wrap>.innerbox>.newsbox>.content_header>p {
  font-size: 16px;
  text-align: center;
}

.info_wrap>.innerbox>.newsbox>.content_header>p>span {
  display: block;
}

.info_wrap>.innerbox>.newsbox>.content_body {
  margin-left: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  width: 360px;
}

.info_wrap>.innerbox>.newsbox>.content_body>ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.info_wrap>.innerbox>.newsbox>.content_body>ul a {
  color: #333;
  font-weight: 600;
  font-size: 17px;
}

.info_wrap>.innerbox>.newsbox>.content_body>.more {
  color: #454545;
}

.info_wrap>.innerbox>.bannerbox {
  width: 270px;
  height: 300px;
  border-radius: 0 36px;
  overflow: hidden;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.info_wrap>.innerbox>.bannerbox>.slide_container {
  position: relative;
}

.info_wrap>.innerbox>.bannerbox>.slide_container>.slides {
  position: relative;
}

.info_wrap>.innerbox>.bannerbox>.slide_container>.slides>a {
  display: block;
  width: 270px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.info_wrap>.innerbox>.bannerbox>.slide_container>.slides>a:not(:first-of-type) {
  left: 100%;
}

.info_wrap>.innerbox>.bannerbox>.slide_container>.pagenate {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  gap: 7px;
}

.info_wrap>.innerbox>.bannerbox>.slide_container>.pagenate a {
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  text-indent: -9999px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
}

.info_wrap>.innerbox>.bannerbox>.slide_container>.pagenate a.active {
  background: #ffc300;
}

.quickmenu {
  max-width: 1180px;
  margin: 46px auto;
  /* width:1080px */
}

.quickmenu>ul {
  height: 70px;
  display: flex;
  /*space-between*/
  justify-content: center;
  gap: 44px;
}

.quickmenu>ul>li>a {
  display: flex;
  height: 70px;
  flex-flow: column wrap;
  justify-content: center;
  gap: 10px;
}

.quickmenu>ul>li>a::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ededed url("../images/spr_icons.png") no-repeat 0px 0px;
}

.quickmenu>ul>li:nth-child(2)>a::before {
  background-position: -70px 0;
}

.quickmenu>ul>li:nth-child(3)>a::before {
  background-position: -140px 0;
}

.quickmenu>ul>li:nth-child(4)>a::before {
  background-position: -210px 0;
}

.quickmenu>ul>li>a>strong {
  display: block;
  font-size: 18px;
  color: #333;
  font-weight: 600;
  line-height: 1em;
}

.quickmenu>ul>li>a>span {
  font-size: 13px;
  color: #999;
}

#main_footer {
  height: 150px;
  background: #202020;
}

#main_footer>.footer_top {
  height: 60px;
  border-bottom: 1px solid #555;
  box-sizing: border-box;
}

#main_footer>.footer_top>.innerbox {
  max-width: 1180px;
  margin: 0 auto;
}

#main_footer>.footer_top>.innerbox>.footer_menu {
  height: 59px;
  display: flex;
  gap: 36px;
  align-items: center;
}

#main_footer>.footer_top>.innerbox>.footer_menu>li:nth-child(2)>a {
  color: #ededed;
  font-weight: 600;
}

#main_footer>.footer_top>.innerbox>.footer_menu>li>a {
  color: #999;
}

#main_footer>.footer_bottom {
  max-width: 1180px;
  margin: 0 auto;
  height: 90px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

#main_footer>.footer_bottom>.sns_icons {
  display: flex;
  gap: 10px;
}

#main_footer>.footer_bottom>.sns_icons>li>a {
  display: block;
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  background: url("../images/sns_icons.png") no-repeat;
  opacity: 0.6;
  transition: all .3s;
}

#main_footer>.footer_bottom>.sns_icons>li:last-child>a {
  background-position: 0px -45px;
}

#main_footer>.footer_bottom>.sns_icons>li>a:hover {
  opacity: 1;
}

#main_footer>.footer_bottom>.footer_info {
  color: #ccc;
}

#main_footer>.footer_bottom>.footer_info>address {
  margin-bottom: 12px;
  line-height: 14px;
}

#main_footer>.footer_bottom>.footer_info>address>dl>dt {
  display: inline;
  border-left: 1px solid #ccc;
  padding-left: 7px;
}

#main_footer>.footer_bottom>.footer_info>address>dl>dt::after {
  content: " : ";
}

#main_footer>.footer_bottom>.footer_info>address>dl>dt:first-of-type {
  display: none;
}

#main_footer>.footer_bottom>.footer_info>address>dl>dd {
  display: inline;
  padding-right: 7px;
}

#main_footer>.footer_bottom>.footer_info>p {
  font-size: 12px;
  color: #a5a5a5;
}

@media screen and (max-width:1179px) {
  #main_header {
    height: 90px;
  }

  #main_header>.header_top>#toggle {
    display: block;
    width: 48px;
    height: 48px;
    border: 0;
    text-indent: -9999px;
    background: transparent url("../images/hamburger_menu.png") no-repeat;
    background-size: cover;
  }

  #main_header>.header_top>.tnb {
    margin-right: 20px;
  }

  #main_header>.header_top>.tnb>ul>li:not(:last-child) {
    display: none;
  }

  #main_header>.header_top>.tnb>ul>li:last-child>a {
    display: none;
  }

  #main_header>.header_top>.tnb>ul>li>.lang_list {
    display: flex;
    font-weight: 700;
  }

  #main_header>.header_top>.tnb>ul>li>.lang_list>li:first-child {
    padding-right: 16px;
    margin-right: 15px;
    background: url("../images/lang_line.gif") no-repeat right center;
  }

  #main_header>.header_top>.tnb>ul>li>.lang_list>li>a {
    color: #999;
  }

  #main_header>.header_top>.tnb>ul>li>.lang_list>li>a.on {
    color: #333;
  }

  #main_header>.navbar {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 100;
    min-height: 360px;
    background: #fff;
    left: 0;
    top: 90px;
    border-top: 1px solid #ccc;
    display: none;
  }

  #main_header>.navbar>ul {
    display: block;
  }

  #main_header>.navbar>ul>li {
    padding: 0;
    width: 100%;
  }

  #main_header>.navbar>ul>li>a {
    height: 60px;
    text-align: left;
    padding-left: 20px;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    background: url("../images/arrow_off.svg") no-repeat right 20px center;
  }

  #main_header>.navbar>ul>li>.sub {
    position: static;
    text-align: left;
    background: #f3f4f7;
    border-bottom: 1px solid #ccc;
    height: auto;
    padding: 24px 0 24px 34px;
    box-sizing: border-box;
    display: none;
  }

  #main_header>.navbar>ul>li>.sub>ul {
    display: flex;
    flex-wrap: wrap;
  }

  #main_header>.navbar>ul>li>.sub>ul>li {
    margin-bottom: 0px;
    width: 50%;
    padding: 5px 0;
  }

  .main_visual>.direct_btns {
    width: 640px;
    border-radius: 20px;
    position: static;
    display: flex;
    margin: 30px auto 44px;
    gap: 40px;
    overflow: auto;
  }

  .main_visual>.direct_btns>a {
    border-radius: 20px;
  }

  .product_menu {
    margin: 80px 100px 96px;
  }

  .product_menu>.content_body>ul>li {
    height: 400px;
  }

  .info_wrap {
    background: none;
    margin: 0 20px;
  }

  .info_wrap>.innerbox>.historybox,
  .info_wrap>.innerbox>.bannerbox {
    display: none;
  }

  .info_wrap>.innerbox>.newsbox {
    width: auto;
    flex: 1 1 0;
    padding: 48px 34px;
  }

  .info_wrap>.innerbox>.newsbox>.content_header>h2 {
    margin: 34px 0 28px 28px;
    font-size: 24px;
    font-weight: 700;
  }

  .info_wrap>.innerbox>.newsbox>.content_body {
    width: auto;
  }

  .info_wrap>.innerbox>.newsbox>.content_body>ul a {
    font-size: 14px;
  }

  .quickmenu {
    display: none;
  }

  #main_footer>.footer_top>.innerbox {
    padding: 0 20px;
  }

  #main_footer>.footer_bottom {
    padding: 0 20px;
  }
}

@media screen and (max-width:640px) {
  #main_header>.header_top>.tnb>ul>li>.lang_list {
    display: none;
  }

  #mobile_fix_btns {
    position: fixed;
    width: 100%;
    height: 96px;
    background: #fff;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3);
    left: 0;
    bottom: 0;
    z-index: 100000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: -1px;
  }

  #mobile_fix_btns>a {
    font-weight: 600;
    color: #222;
    display: block;
    min-width: 48px;
    text-align: center;
    padding-top: 40px;
    background: url("../images/home_icon.png") no-repeat center top;
  }

  #mobile_fix_btns>a:nth-of-type(2) {
    background-image: url("../images/delivery_icon.png");
  }

  #mobile_fix_btns>a:nth-of-type(3) {
    background-image: url("../images/login_icon.png");
  }

  #mobile_fix_btns>a:nth-of-type(4) {
    background-image: url("../images/info_icon.png");
  }
}














@media screen and (min-width:641px) {

  #mobile_fix_btns,
  .mobile_menu_tab {
    display: none;
  }
}

@media screen and (min-width:1180px) {
  .desktop {
    display: block !important;
  }

  .tablet,
  .mobile {
    display: none !important;
  }
}

@media screen and (max-width:1179px) and (min-width:641px) {
  .tablet {
    display: block !important;
  }

  .desktop,
  .mobile {
    display: none !important;
  }
}

@media screen and (max-width:640px) {
  .mobile {
    display: block !important;
  }

  .tablet,
  .desktop {
    display: none !important;
  }
}